In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Read in the data
df = pd.read_csv("vine_table.csv")

C:\Users\annyd\AppData\Local\Temp\ipykernel_2624\1041206819.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("vine_table.csv")

In [32]:
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R135Q3VZ4DQN5N,5,0.0,0.0,N,Y
1,R2N0QQ6R4T7YRY,5,0.0,0.0,N,N
2,R3N5JE5Y4T6W5M,5,0.0,0.0,N,Y
3,R2I150CX5IVY9Q,5,0.0,0.0,N,Y
4,R1RM9ICOOA9MQ3,5,0.0,0.0,N,Y
5,R2J2KMDL10UMSH,5,0.0,0.0,N,Y
6,R3R9ZUFA4TB4FQ,5,0.0,0.0,N,Y
7,R3UQ8VAQN7R6WL,5,0.0,0.0,N,Y
8,R1FXZ69C01JNQM,5,0.0,0.0,N,Y
9,RY36LB4OW0FFS,5,0.0,0.0,N,Y

In [3]:
#Create a dataframe with total_votes greater than or equal to 20
total_votes_20 = df[df["total_votes"] >= 20]
total_votes_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y
1435,R36LII9IITE17,1,22.0,24.0,N,Y
...,...,...,...,...,...,...
1767276,R3AW1KGEXQ6IAJ,5,98.0,102.0,N,Y
1767306,R2AUHXN8SW8PCO,5,53.0,58.0,N,N
1767656,RH9B9G86S98P4,1,20.0,20.0,N,Y
1767742,R3D1P1IZR1GIET,5,16.0,35.0,N,N
1767752,RV2EZ4SCOCQC2,5,17.0,28.0,N,N

In [6]:
#Create a dataframe with helpful_votes greater than or equal to 50%
helpful_votes_50 = total_votes_20[total_votes_20["helpful_votes"]/total_votes_20["total_votes"] >= 0.5]
helpful_votes_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y
1435,R36LII9IITE17,1,22.0,24.0,N,Y
...,...,...,...,...,...,...
1767244,R13DQ5VL0OFEWB,5,19.0,20.0,N,Y
1767276,R3AW1KGEXQ6IAJ,5,98.0,102.0,N,Y
1767306,R2AUHXN8SW8PCO,5,53.0,58.0,N,N
1767656,RH9B9G86S98P4,1,20.0,20.0,N,Y
1767752,RV2EZ4SCOCQC2,5,17.0,28.0,N,N

In [8]:
#Create a dataframe with paid vine reviews
vine_paid = helpful_votes_50[helpful_votes_50["vine"] == "Y"]
vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
243667,R15PXA9XU9ZKSU,4.0,29.0,29.0,Y,N
249955,R2LJ4QYQ4PYDEH,5.0,24.0,26.0,Y,N
381970,R2PJWWQZ37WCIC,5.0,95.0,96.0,Y,N
383020,R33G2VDKRN2USY,5.0,21.0,21.0,Y,N
735448,R13R4X37T2U50A,4.0,52.0,57.0,Y,N
740002,R1X1J2NAQ39DF6,4.0,29.0,34.0,Y,N
872349,R2UV5XHFNMPXOX,5.0,60.0,61.0,Y,N
1155110,R31V08BCC9X3MF,5.0,18.0,22.0,Y,N
1160608,R2G00QWTYW9N2G,5.0,86.0,91.0,Y,N
1163636,RL8H3NKKP989J,5.0,30.0,34.0,Y,N
1218084,RZ65QBOJ8ZNRN,4.0,19.0,22.0,Y,N
1219830,RDZBWH5MFEQY1,5.0,18.0,22.0,Y,N
1220381,R24SU7KP57HE8L,4.0,25.0,26.0,Y,N
1582922,RV3V9VIC29R8S,2.0,66.0,68.0,Y,N
1583464,R31AR3XSFSHY1B,4.0,33.0,35.0,Y,N
1585862,R3VWAKQ4JXGE55,5.0,33.0,34.0,Y,N
1587973,RNZ2BP0EHN7IK,5.0,20.0,20.0,Y,N
1590193,RXKITVQ3MN3PS,4.0,22.0,23.0,Y,N
1612363,R3TZE1OYDVZPRD,5.0,23.0,24.0,Y,N
1651458,R3FO353G2ET17M,4.0,23.0,24.0,Y,N
1652856,RHWHKPCJQEXUP,3.0,30.0,31.0,Y,N

In [9]:
#Create a dataframe with unpaid vine reviews
vine_unpaid = helpful_votes_50[helpful_votes_50["vine"] == "N"]

In [10]:
#Determine the total number of paid and unpaid reviews
num_paid = vine_paid["review_id"].count()
num_unpaid = vine_unpaid["review_id"].count()

#Determine the number of 5-star paid and unpaid reviews
num_5star_paid = vine_paid[vine_paid["star_rating"] == 5]["review_id"].count()
num_5star_unpaid = vine_unpaid[vine_unpaid["star_rating"] == 5]["review_id"].count()

#Determine the percentage of 5-star paid and unpaid reviews
percent_5star_paid = num_5star_paid/num_paid
percent_5star_unpaid = num_5star_unpaid/num_unpaid

In [11]:
print(f"Total number of paid reviews: {num_paid}")
print(f"Total number of unpaid reviews: {num_unpaid}")
print(f"Total number of 5-star paid reviews: {num_5star_paid}")
print(f"Total number of 5-star unpaid reviews: {num_5star_unpaid}")
print(f"Percentage of 5-star paid reviews: {percent_5star_paid}")
print(f"Percentage of 5-star unpaid reviews: {percent_5star_unpaid}")

Total number of paid reviews: 21
Total number of unpaid reviews: 7689
Total number of 5-star paid reviews: 11
Total number of 5-star unpaid reviews: 3993
Percentage of 5-star paid reviews: 0.5238095238095238
Percentage of 5-star unpaid reviews: 0.51931330472103

In [13]:
#Total number of paid reviews
print(f'Total number of paid reviews:', (len(df[df['vine'] == 'Y'])))

#Total number of paid reviews with 20 or more votes
print(f'Total number of paid reviews with 20 or more votes:', (len(total_votes_20[total_votes_20['vine'] == 'Y'])))

#Total number of paid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of paid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[helpful_votes_50['vine'] == 'Y'])))

Total number of paid reviews: 3815
Total number of paid reviews with 20 or more votes: 21
Total number of paid reviews with 20 or more votes and 50% or more helpful votes: 21

In [20]:
#Total number of unpaid reviews
print(f'Total number of unpaid reviews:', (len(df[df['vine'] == 'N'])))

#Total number of unpaid reviews with 20 or more votes
print(f'Total number of unpaid reviews with 20 or more votes:', (len(total_votes_20[total_votes_20['vine'] == 'N'])))

#Total number of unpaid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of unpaid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[helpful_votes_50['vine'] == 'N'])))

Total number of unpaid reviews: 1763881
Total number of unpaid reviews with 20 or more votes: 7941
Total number of unpaid reviews with 20 or more votes and 50% or more helpful votes: 7689

In [25]:
#Total number of 5-star paid reviews
print(f'Total number of 5-star paid reviews:', (len(df[(df['vine'] == 'Y') & (df['star_rating'] == 5)])))

#Total number of 5-star paid reviews with 20 or more votes
print(f'Total number of 5-star paid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'Y') & (total_votes_20['star_rating'] == 5)])))

#Total number of 5-star paid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of 5-star paid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[helpful_votes_50['vine'] == 'Y'])))

Total number of 5-star paid reviews: 1650
Total number of 5-star paid reviews with 20 or more votes: 11
Total number of 5-star paid reviews with 20 or more votes and 50% or more helpful votes: 21

In [27]:
#Total number of 5-star unpaid reviews
print(f'Total number of 5-star unpaid reviews:', (len(df[(df['vine'] == 'N') & (df['star_rating'] == 5)])))

#Total number of 5-star unpaid reviews with 20 or more votes
print(f'Total number of 5-star unpaid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'N') & (total_votes_20['star_rating'] == 5)])))

#Total number of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes

print(f'Total number of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'N') & (helpful_votes_50['star_rating'] == 5)])))

Total number of 5-star unpaid reviews: 1000800
Total number of 5-star unpaid reviews with 20 or more votes: 4048
Total number of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes: 3993

In [29]:
#Percentage of 5-star paid reviews
print(f'Percentage of 5-star paid reviews:', (len(df[(df['vine'] == 'Y') & (df['star_rating'] == 5)])/len(df[df['vine'] == 'Y'])))

#Percentage of 5-star paid reviews with 20 or more votes
print(f'Percentage of 5-star paid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'Y') & (total_votes_20['star_rating'] == 5)])/len(total_votes_20[total_votes_20['vine'] == 'Y'])))

#Percentage of 5-star paid reviews with 20 or more votes and 50% or more helpful votes
print(f'Percentage of 5-star paid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'Y') & (helpful_votes_50['star_rating'] == 5)])/len(helpful_votes_50[helpful_votes_50['vine'] == 'Y'])))

Percentage of 5-star paid reviews: 0.4325032765399738
Percentage of 5-star paid reviews with 20 or more votes: 0.5238095238095238
Percentage of 5-star paid reviews with 20 or more votes and 50% or more helpful votes: 0.5238095238095238

In [31]:
#Percentage of 5-star unpaid reviews
print(f'Percentage of 5-star unpaid reviews:', (len(df[(df['vine'] == 'N') & (df['star_rating'] == 5)])/len(df[df['vine'] == 'N'])))

#Percentage of 5-star unpaid reviews with 20 or more votes
print(f'Percentage of 5-star unpaid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'N') & (total_votes_20['star_rating'] == 5)])/len(total_votes_20[total_votes_20['vine'] == 'N'])))

#Percentage of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes
print(f'Percentage of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'N') & (helpful_votes_50['star_rating'] == 5)])/len(helpful_votes_50[helpful_votes_50['vine'] == 'N'])))

Percentage of 5-star unpaid reviews: 0.5673852147622204
Percentage of 5-star unpaid reviews with 20 or more votes: 0.5097594761365067
Percentage of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes: 0.51931330472103